* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9e9e9e0f;
}
header {
  background-color: #eac926;
  padding: 10px 15px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 100%;
}
.nav-top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
}

.logo,
.nav-bar-busqueda {
  display: inline-block;
  justify-content: center;
  width: 50vw;
  position: relative;
}
.nav-bar-busqueda::after {
  content: "";
  background-color: #fff;
  height: 100%;
  position: absolute;
  width: 40px;
  right: 0px;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #8080805c;
}
.nav-bar-busqueda i {
  color: #808080ad;
  position: absolute;
  margin-left: auto;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.nav-bar-busqueda input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 0;
}

.tarjetas-cuotas {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 10px;
}
.tarjetas-cuotas p {
  display: block;
  margin: 0px 5px;
}
.left-nav-bar,
.rigth-nav-bar {
  display: none;
  gap: 1rem;
}
nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin-right: 4px;
}
.burger-menu {
  text-align: center;
}
.burger-menu i {
  background-color: #1259c3;
  color: #ebebeb;
  padding: 7px;
  border-radius: 3px;
}

.formularioCrearUsiario,
.formularioInicioSesion {
  padding: 5px 10px;
  text-align: left;
  border: 3px solid #eac926;
  background-color: #ebebeb;
  width: 100vw;
}

.contenedorFormularioUsuarios,
.contenedorFormularioLogin,
.contenedorFormularioUsuariosCheckbox,
.contenedorFormularioUsuariosFoto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center   ;
  width: auto;  
  padding: 4px;
}
.contenedorFormularioUsuarios input,
.contenedorFormularioLogin input {
  width: 50vw;
  border-radius: none;
  max-width: 400px;
}
.contenedorFormularioUsuarios input:focus,
.contenedorFormularioLogin input:focus {
  color: black;
  border: 5px solid #eac926;
}
.contenedorFormularioUsuarios label,
.contenedorFormularioLogin label,
.contenedorFormularioUsuariosCheckbox label,
.contenedorFormularioUsuariosFoto label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 550;
  display: block;
}
.contenedorFormularioUsuarios input,
.contenedorFormularioLogin input {
  margin-bottom: 5px;
  margin-left: 5px;
}
.botonFormUsuario {
  background-color: #1259c3;
  border: none;
  font-size: 15px;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
}

.contenedor {
  padding: 10px;
  margin: auto;
  width: 90%;
}
.recomendadados {
  margin: 20px 0px;
}
.producto {
  margin-top: 10px;
  border-radius: 5px;
}
.producto i {
  color: #39b54a;
  display: block;
}
.info-producto {
  border-top: 1px solid #ebebeb;
  padding: 5px;
  background-color: #fff;
  position: relative;
  border-radius: 0 0 5px 5px;
}
.info-producto i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}
.info-precio {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.precio {
  font-size: 18px;
}
.descuento {
  font-size: 16px;
  color: #39b54a;
}
.descripcion {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
}
footer {
  text-align: center;
  padding: 10px 20px;
}
footer h4,
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
section.icon-footer {
  margin: 20px 0px;
}
.icon-footer i {
  margin-bottom: 10px;
  color: #1259c3;
  font-size: 2em;
}

@media (min-width: 361px) {
  .nav-top-bar {
    justify-content: space-between;
  }
  .burger-menu {
    display: none;
  }
  .producto {
    width: 45%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .descripcion {
    display: flex;
  }
  .recomendados,
  .ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .ofertas h2 {
    flex-grow: 1;
  }
  .logo {
    max-width: 150px;
  }
  .left-nav-bar,
  .rigth-nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
  @media (min-width: 769px) {
  header {
    padding: 10px 50px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 0px;
  }
  .descripcion {
    visibility: visible;
  }

  .nav-bar-busqueda {
    width: 500px;
    border-radius: 3px;
  }
  .nav-bar-busqueda input {
    border: 0;
  }
  .producto {
    width: 23%;
  }
}
