body {
    font-family: roboto;
    background-color: #EAC926;
}

p{
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.precio {
    font-size: 18px
}
.descuento{
    font-size: 16px;
}
.burguer-menu{
font-color: #03264C;
   font-size: 25px;
   text-align: center;
}